java-xml/src/main/resources/SimpleSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SimpleSchema" xmlns:tns="http://www.example.org/SimpleSchema" elementFormDefault="qualified">

    <element name="Person" type="tns:personType"></element>
    
    <complexType name="personType">
    	<sequence>
    		<element name="name" type="string"></element>
    		<element name="age" type="int"></element>
    	</sequence>
    </complexType>
</schema>